@charset "utf-8";
.content-page {
  margin-left: 0px;
}


/* Featured shows tab css starts here */

.tabs {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #337ab7;
}
.tab-contents {
  padding: .5em 2em 1em;
  border: 1px solid #ddd;
}



.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}

/* Hosts page */
.list-top-filters {
    text-align: center;
}
.list-top-filters a {
    padding: .5rem;
    font-size: 1.5em;
    color:  #2BA6CB;
}

.List__host__index > div{
  float: left;
}
@media print, screen and (min-width: 40em){
  .column, .columns {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
}
.small-6 {
  width: 50%;
}

@media print, screen and (min-width: 40em){
  .medium-3 {
    width: 25%;
  }
}
@media print, screen and (min-width: 64em){
  .large-2 {
    width: 16.66667%;
  }
}

.box {
    padding: 10px;
    margin-bottom: 20px;
}

@media print, screen and (min-width: 40em){
  .box {
    padding: 15px;
    margin-bottom: 30px;
  }
}
.box {
    fill: #fff;
    color: #fff;
    background-color: #3b0e61;
    background: /* Permalink - use to edit and share this gradient:http://colorzilla.com/gradient-editor/#400080+0,400080+68,a77be5+100&1+0,1+82,0.04+100 */ background:-moz-linear-gradient(top,rgba(64,0,128,1) 0%,rgba(64,0,128,1) 68%,rgba(109,54,172,1) 82%,rgba(167,123,229,.04) 100%);
    background: -webkit-linear-gradient(top,rgba(64,0,128,1) 0%,rgba(64,0,128,1) 68%,rgba(109,54,172,1) 82%,rgba(167,123,229,.04) 100%);
    background: linear-gradient(to bottom,rgba(64,0,128,1) 0%,rgba(64,0,128,1) 68%,rgba(109,54,172,1) 82%,rgba(167,123,229,.04) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#400080',endColorstr='#0aa77be5',GradientType=0);
}
.box {
    border-radius: 5px;
}
.row-host .box.bg, .row-host .bg.widget-player, .row-guest .box.bg, .row-guest .bg.widget-player {
    padding: 0;
}
.row-episode img, .row-host img, .row-guest img {
    width: 100%;
}
.list-box-row.row-host .box img, .list-box-row.row-host .widget-player img {
    border-radius: 0;
}
.image {
  width: 100%;
}
/* Schedule page design fix */
.image img {
  width: 100%;
  height: auto;
  max-height: 155px;
}
/* Slider*/
.owl-nav {
    text-align: center;
}
button.owl-prev span  {
    font-size: 40px;
	margin:25px;
}
button.owl-next span  {
    font-size: 40px;
	margin:25px;
}



i.ico {
    display: inline-block;
    position: relative;
    margin: 4px;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    width: 32px;
    height: 32px;
    color: inherit;
}


/* Loader CSS */
svg:not(:root) {
    overflow: hidden;
}
.ico-wait svg, .icon-wait svg {
    display: inline-block;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    animation-name: el-rotate;
    -webkit-animation-name: el-rotate;
    -moz-animation-name: el-rotate;
    -ms-animation-name: el-rotate;
    -o-animation-name: el-rotate;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
}
i.ico svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
i.ico svg, i.ico svg path, i.ico svg use {
    color: inherit;
    fill: currentColor;
}
i.ico svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
i.ico svg, i.ico svg path, i.ico svg use {
    color: inherit;
    fill: currentColor;
}
/* css for slider 230- 302*/
.col-centered {
	float: none;
	margin: 0 auto;
}

.carousel-control { 
	width: 8%;
	width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
	margin-right: 40px;
	margin-left: 32px; 
	background-image: none;
	opacity: 1;
}
.carousel-control > a > span {
	color: white;
	  font-size: 29px !important;
}

.carousel-col { 
	position: relative; 
	min-height: 1px; 
	padding: 5px; 
	float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

.sponsor{
  float: left;
}

.overflow {
  height: 250px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.max_height{
  max-height: 200px;
  overflow: hidden;
}

/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  
  /* */
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: white;
}