/*!
 * Author: Contriverz
 * Since: 30-12-2018
 */
body{
  font-size:16px;
}
.partners_table, .hosts_table{border:1px solid #dfdfdf;}
.partner_photo{width:120px;}
.action_btns{width:80px;}
.action_btns_more_width{width:80px;}
.channel_action_btns{width:10%;}
.channel_name_column{width:20%;}
h2.partner_name{font-size:18px; font-weight:bold; padding:0px; margin: 5px 0px 5px 0px;}
table#datatable thead>tr>th { border-bottom: 0px!important; }
.MembershipTypePodcast-host{display:none;}
button#MembershipHasManyMembershipPeriodsAdd {
    background:#188ae2 ;
    border: none;
    color: #fff;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 3px;
}

.color_icon{color:#999;}
#edit_media_modal{display: none;}
.channels_schedule li.selected {
    box-shadow: none;
    background: #efefef;
}
.icon-jfi-edit{cursor:pointer;}
img#loading-image {
    width: 250px;
}
ul#grid li a p {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: -100%;
    left: 0;
    text-align: center;
    width: 100%;
    background: #000000a8;
    color: #fff;
    padding: 10px 5px;
    margin: 0;
}
ul#grid li a:hover p{bottom: 0;}
ul#grid {
    padding: 0;
}

ul#grid li {
    width: 33.33%;
    list-style: none;
    padding:10px;
    overflow: hidden;
}

ul#grid li a {
    position: relative;
    float: left;
    width: 100%;
}

ul#grid li a img {
    width: 100%;
}
button#MembershipHasManyMembershipPeriodsAdd:hover {
    background: #167ccb;
}
.delete_Contents i, .custom_content i, .testimonial i, .delete_Testimonial i, .delete_membership_period i, .membership_period i, .delete_sponsor_extra_urls i, .delete_items_extra_urls i, .host_extra_urls i, .delete_host_extra_urls i, .host_videos i, .delete_host_videos i, .delete_itunes_cat i, .itunes_cat i, .delete_guests_cat i, .guests_cat i
{
    font-size: 22px;
    color:#36404e;
}
.delete_Contents i:hover, .delete_Testimonial i:hover, .delete_membership_period i:hover,.delete_host_extra_urls i:hover,.delete_host_videos i:hover, .delete_itunes_cat i:hover, .delete_guests_cat i:hover{
    color:red;
    cursor:pointer;
}
.toggle_inventory_items {
    background:#188ae2;
    padding: 10px;
    font-size: 19px;
    opacity: 9;
    color: #fff;
    cursor: pointer;
}
.toggle_inventory_items:hover {
	background:#167ccb;
}
th.last_column_width{width:50px !important;}
.high_light_info {

    background: #ffebbb;
    padding: 5px;
    border-radius: 5px;
}
.action_btns a i, .channel_action_btns a i{
    margin-right: 7px !important;
    float:left
}
.action_btns a:last-child i, .channel_action_btns a:last-child i {
   margin-right: 0px;
}
table#sponsors_datatable thead th:last-child {
    width: 77px!important;
}
.td_center{text-align:center;}
.type_link, .type_code{ display:none; }
.list-unstyled li a {padding: 10px 30px!important;}
.outside_itunes_cat {
   float: left;
   width: 100%;
   padding-bottom: 10px;
}

table.mtf-dg-table.url_table.default {
   width: 100%;
}

table.mtf-dg-table.url_table.default td {
   padding-right: 5px;
   padding-bottom: 5px;
}
/* For cropper */
.img-container { /* Never limit the container height here */ max-width: 100%; }
.img-container img { /* This is important */ width: 100%; }
div#custom-modal img {
  width: 100%;
}
/*div {
   color: #000;
}*/

table.mtf-dg-table.video_table.default td {
   padding-right: 5px;
   padding-bottom: 5px;
}
.passwordstrength {
    height:20px;
    /* background:url('gray.png'); */
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color:#c7c2c2;
    border-radius:10px; 
    margin-top: 12px;
    color:white;
    margin-top: 10px;
}
.short{
    background:url('red.png');
    background-repeat: no-repeat;
    color: #ffffff; 
    margin-top: 10px;
    background-color:#c7c2c2;
    border-radius:10px;
}
.weak{
    background:url('brown.png');
    background-repeat: no-repeat;
    color: #ffffff;
    margin-top: 10px; 
    background-color:#c7c2c2;
    border-radius:10px;
}
.good{
    background:url('orange-yellow.png');
    background-repeat: no-repeat;
    color: #ffffff;
    margin-top: 10px;
    background-color:#c7c2c2;
    border-radius:10px;
}
.strong{
    background:url('green.png');
    background-repeat: no-repeat;
    color: #ffffff;
    margin-top: 10px;
    background-color:#c7c2c2;
    border-radius:10px;
}
/** Display the clear filter in datatable search box **/
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    cursor:pointer;
}
.jFiler-items.jFiler-row.list-item li {
    width: 100%;
}

.jFiler-items.jFiler-row.list-item li .jFiler-item-container {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.jFiler-items.jFiler-row.list-item li .jFiler-item-container .jFiler-item-thumb {
    float: left;
}

.jFiler-items.jFiler-row.list-item li .jFiler-item-container .jFiler-item-inner {
    float: left;
    width: 100%;
}

.jFiler-items.jFiler-row.list-item li .jFiler-item-container .jFiler-item-assets.jFiler-row {
    float: right;
    width: calc(100% - 175px);
    margin: 0;
}

.jFiler-items.jFiler-row.list-item li .jFiler-item-container .jFiler-item-assets.jFiler-row ul {
    float: right !important;
}

.jFiler-items.jFiler-row.list-item li .jFiler-item-container .jFiler-item-assets.jFiler-row p {
    float: left;
    width: calc(100% - 50px);
}

.jFiler-items.jFiler-row.list-item li .jFiler-item-container .jFiler-item-assets.jFiler-row p b {
    float: left;
    width: 100%;
    color: #333;
    text-transform: uppercase;
}
.jFiler-items.jFiler-row.list-item li .jFiler-item-container .jFiler-item-assets.jFiler-row ul.pull-left {
    display: none;
}
.set-thumb {
    float: left;
    width: 100%;
    padding: 10px 10px 0;
    border: 1px solid #e1e1e1;
    border-bottom: none;
}

.set-thumb span {
    float: left;
    width: 50px;
    background: #ececec;
    text-align: center;
    color: #999;
    padding: 7px 7px 5px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
    margin-right: 10px;
        -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    /*transition: all .5s ease-in-out;*/
}
.set-thumb span:hover {
    background: #3f8bc9;
    color: white;
}
.set-thumb span.list-active {
    background: #3f8bca;
}

.set-thumb span.list-active i {
    color: white;
}
.jFiler-items-grid .jFiler-item {
    float: left;
    width: 20%;
    padding: 10px;
}

.jFiler-items-grid .jFiler-item .jFiler-item-container {
    margin: 0;
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb {
    width: 100%;
}

ul.jFiler-items-list.jFiler-items-grid {
    float: left;
    width: 100%;
    border: 1px solid #ececec;
}
.jFiler-items.jFiler-row.list-item .jFiler-item-thumb {
    width: 166px;
}
ul.jFiler-items-list.jFiler-items-grid .jFiler-item-container {
    margin: 0 !important;
}
ul.jFiler-items-list.jFiler-items-grid .jFiler-item-container p {
    display: none;
}

.jFiler-items.jFiler-row.list-item li .jFiler-item-container .jFiler-item-assets.jFiler-row p {
    display: block;
}
.adding-medias li.jFiler-item{
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}

.adding-medias ul.jFiler-items-list.jFiler-items-grid{
    border: none;
    /* padding: 0; */
}
.remove_scroll{
  overflow:hidden;
}
div#custom-modal {
  /*top:10%;*/
    left: 50%;
    margin-left: -300px;
    overflow:auto;
    /*max-height:500px;*/
    /*height: 360px;*/
}

div#custom-modal img.cropper-hidden {
    width: 100%;
}
.dropzone{
    border: 2px dashed #dedede !important;
    min-height: 200px !important;
    border-radius: 5px;
    background: #f5f5f5;
}
#media_image_audio, #media_image_video{
  border: 2px dashed #dedede !important;
    min-height: 200px !important;
  background: white;
    padding: 20px 20px;
    box-sizing: border-box;
}

.dropzone .upload_icon, #media_image_audio .upload_icon, #media_image_video .upload_icon{
    font-size: 5rem;
    width: 100%;
    text-align: center;
    margin-top: 26px;
}

.dropzone .dz-message, #media_image_audio .dz-message, #media_image_video .dz-message {
    color: rgba(0,0,0,.54);
    font-weight: 500;
    font-size: initial;
    text-transform: uppercase;
    float:left;
    text-align: center;
    text-align: center;
    margin: 2em 0;
}
#media_image_audio.dz-clickable, #media_image_video.dz-clickable{
  cursor: pointer;
}

.previewDiv{
    float:left;
}
/*.modal-demo{width:50%;}*/
/**
 * Styles for datatables.mark.js
 */
mark {
  padding: 0;
  background: #f1c40f;
}

.l-hosts, .l-guests, .l-cohosts, .l-podcasthosts {
    clear: left;
    float: left;
    margin-right: 5px;
}
.tags {
    float: left;
    max-width: 100%;
    border: 1px solid;
    background-color: #655e5e;
    color: #fff;
    border-radius: 5px;
    padding: 3px 5px;
}
.optionGroup {
    font-weight: bold!important;
    font-style: italic;
}
    
.optionChild {
    padding-left: 15px!important;
}
.lft_profile_host {
    float: left;
    margin:0 15px 15px 0;
    width:220px;
}

.rght_profile_host {
    float: left;
    width: calc(100% - 180px);
    margin-top: 20px;
}
.reschedule_outer{
  display:none;
}
.archive_page{ float:left; width:100%; }
.rght_profile_host h3 { margin: 0px 0 10px 0;}
.page_top_btns{margin-bottom:0;}
.popover-title {
    background-color: transparent;
    color: #7fc1fc;
    padding: 12px 15px;
    font-size: 15px;
}


/* Start Button Switch css  (For radio Buttons)*/
.btn-switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.btn-switch > input[type="radio"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  left: -100%;
  top: -100%;
}
.btn-switch > input[type="radio"] + .btn {
  background-color: transparent !important;
  border-color: #7fc1fc;
  color: #7fc1fc !important;
}
.btn-switch > input[type="radio"] + .btn > em {
  display: inline-block;
  border: 1px solid #7fc1fc;
  border-radius: 50%;
  padding: 2px;
  margin: 0 4px 0 0;
  top: 1px;
  font-size: 10px;
  text-align: center;
}
.btn-switch > input[type="radio"] + .btn > em:before {
  opacity: 0;
}
.btn-switch > input[type="radio"]:checked + .btn {
  background-color: #7fc1fc !important;
  color: #ffffff !important;
}
.btn-switch > input[type="radio"]:checked + .btn > em {
  background-color: #ffffff;
  color: #7fc1fc !important;
}
.btn-switch > input[type="radio"]:checked + .btn > em:before {
  opacity: 1;
}
.btn-switch-primary > input[type="radio"] + .btn,
.btn-switch-primary > input[type="radio"]:checked + .btn > em {
  color: #188ae2 !important;
}
.btn-switch-primary > input[type="radio"] + .btn,
.btn-switch-primary > input[type="radio"] + .btn > em {
  border-color: #188ae2 !important;
}
.btn-switch-primary > input[type="radio"]:checked + .btn {
  background-color: #188ae2 !important;
}
.btn-switch-success > input[type="radio"] + .btn,
.btn-switch-success > input[type="radio"]:checked + .btn > em {
  color: #4bd396 !important;
}
.btn-switch-success > input[type="radio"] + .btn,
.btn-switch-success > input[type="radio"] + .btn > em {
  border-color: #4bd396 !important;
}
.btn-switch-success > input[type="radio"]:checked + .btn {
  background-color: #4bd396 !important;
}
.btn-switch-info > input[type="radio"] + .btn,
.btn-switch-info > input[type="radio"]:checked + .btn > em {
  color: #3ac9d6 !important;
}
.btn-switch-info > input[type="radio"] + .btn,
.btn-switch-info > input[type="radio"] + .btn > em {
  border-color: #3ac9d6 !important;
}
.btn-switch-info > input[type="radio"]:checked + .btn {
  background-color: #3ac9d6 !important;
}
.btn-switch-warning > input[type="radio"] + .btn,
.btn-switch-warning > input[type="radio"]:checked + .btn > em {
  color: #f9c851 !important;
}
.btn-switch-warning > input[type="radio"] + .btn,
.btn-switch-warning > input[type="radio"] + .btn > em {
  border-color: #f9c851 !important;
}
.btn-switch-warning > input[type="radio"]:checked + .btn {
  background-color: #f9c851 !important;
}
.btn-switch-danger > input[type="radio"] + .btn,
.btn-switch-danger > input[type="radio"]:checked + .btn > em {
  color: #f5707a !important;
}
.btn-switch-danger > input[type="radio"] + .btn,
.btn-switch-danger > input[type="radio"] + .btn > em {
  border-color: #f5707a !important;
}
.btn-switch-danger > input[type="checkbox"]:checked + .btn {
  background-color: #f5707a !important;
}
.btn-switch-inverse > input[type="radio"] + .btn,
.btn-switch-inverse > input[type="radio"]:checked + .btn > em {
  color: #3b3e47 !important;
}
.btn-switch-inverse > input[type="radio"] + .btn,
.btn-switch-inverse > input[type="radio"] + .btn > em {
  border-color: #3b3e47 !important;
}
.btn-switch-inverse > input[type="radio"]:checked + .btn {
  background-color: #3b3e47 !important;
}
.btn-switch-pink > input[type="radio"] + .btn,
.btn-switch-pink > input[type="radio"]:checked + .btn > em {
  color: #F06292 !important;
}
.btn-switch-pink > input[type="radio"] + .btn,
.btn-switch-pink > input[type="radio"] + .btn > em {
  border-color: #F06292 !important;
}
.btn-switch-pink > input[type="radio"]:checked + .btn {
  background-color: #F06292 !important;
}
.btn-switch-purple > input[type="radio"] + .btn,
.btn-switch-purple > input[type="radio"]:checked + .btn > em {
  color: #6b5fb5 !important;
}
.btn-switch-purple > input[type="radio"] + .btn,
.btn-switch-purple > input[type="radio"] + .btn > em {
  border-color: #6b5fb5 !important;
}
.btn-switch-purple > input[type="radio"]:checked + .btn {
  background-color: #6b5fb5 !important;
}
.btn-switch-orange > input[type="radio"] + .btn,
.btn-switch-orange > input[type="radio"]:checked + .btn > em {
  color: #ff9800 !important;
}
.btn-switch-orange > input[type="radio"] + .btn,
.btn-switch-orange > input[type="radio"] + .btn > em {
  border-color: #ff9800 !important;
}
.btn-switch-orange > input[type="radio"]:checked + .btn {
  background-color: #ff9800 !important;
}
.btn-switch-brown > input[type="radio"] + .btn,
.btn-switch-brown > input[type="radio"]:checked + .btn > em {
  color: #8d6e63 !important;
}
.btn-switch-brown > input[type="radio"] + .btn,
.btn-switch-brown > input[type="radio"] + .btn > em {
  border-color: #8d6e63 !important;
}
.btn-switch-brown > input[type="radio"]:checked + .btn {
  background-color: #8d6e63 !important;
}
.btn-switch-teal > input[type="radio"] + .btn,
.btn-switch-teal > input[type="radio"]:checked + .btn > em {
  color: #26a69a !important;
}
.btn-switch-teal > input[type="radio"] + .btn,
.btn-switch-teal > input[type="radio"] + .btn > em {
  border-color: #26a69a !important;
}
.btn-switch-teal > input[type="radio"]:checked + .btn {
  background-color: #26a69a !important;
}
/* End Button Switch css (For radio Buttons) */
.schedule_replays{display:none;}

/**  START Episode calender CSS  **/
/*.cal-show {
    background: #756E51;
    border-color: #756E51;
}*/
.cal-show.cal-replay {
    background: #7cb6d4;
    border-color: #7cb6d4;
}
.fc-event.no-edit {
    cursor: default;
}
.cal-episode.cal-replay {
    background: #A0C45C;
    border-color: #A0C45C;
}
.cal-episode {
    background: #65822F;
    border-color: #65822F;
}
/**  END Episode calender CSS  **/

.show-read-more .more-text{
        display: none;
    }

/* Multiple show popup */
#multiple-events-modal .sub-slot {
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
}    
.sub-slot {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}
#multiple-events-modal .sub-slot > span {
    font-size: 12px;
    /* font-style: italic; */
}
.fc-event .fc-bg {
    z-index: 1;
}
/*a.cal-btn-add-show {
    position: absolute;
    bottom: 2px;
    z-index: 3;
    right: 3px;
    top:3px;
}*/
a.cal-btn-add-show {
    position: absolute;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    border-radius: 20px;
    margin-left: -2px;
    z-index: 9999 !important;
    background-color: #5390a0 !important;
}
a.cal-btn-add-show i {
    color: #fff;
}
.profile_url button.btn.btn-default.bootstrap-touchspin-down, .profile_url button.btn.btn-default.bootstrap-touchspin-up {
    display: none;
}
.profile_url .radio-inline+.radio-inline{margin-left: 0;}
.panel-sub-title{ color:#fff !important; }

.fixed_btn{
    height: 50px;
    width: 100%;
    background-color: #cac6c673;
    z-index: 1;
    bottom: 0;
    position: fixed;
	left:0;
	text-align: center;
	padding: 10px;
}
.modal-dialog.dialog-width {
    width: 100%;
    left: 8.5px;
}
.grid img{border:solid 1px red; margin:10px;}
.selected-media{
  background-color:#b3aaaa!important;
  border: 1px solid #131212!important;
}
i.typcn.typcn-delete.delete_media_icon {
    cursor: pointer;
}
i.typcn.typcn-delete.delete_media_icon:hover {
    color: red;
}
.episode_edit .custom-modal-title{text-align:center;}
#media_append_section{max-height: 400px;overflow: auto; margin-top: 15px;}
.set_image{margin-top:20px;}

/* Start Add the loader while ajax works */
div#loadingDiv {
    position: fixed;
    left: 0;
    z-index: 1000;
    text-align: center;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,.7);
    height: 100%;
    display: none;
}

div#loadingDiv i {
    width: auto;
    height: auto;
    line-height: 1px;
    margin-right: 10px;
    font-size: 40px;
    color: white;
    position: fixed;
    top: 50%;
}

/* End Add the loader while ajax works */

/* Remove the search from the edit monthly bonus items */
#monthly_inventory_items_datatable_filter{display:none;}
table.dataTable td.reorder{text-align:left;}
ul#mediagrid li a p {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: -100%;
    left: 10px;
    text-align: center;
    width: 100%;
    background: #000000a8;
    color: #fff;
    padding: 10px 5px;
    margin: 0;
}
ul#mediagrid li a:hover p{bottom: 0;}
ul#mediagrid {
    padding: 0;
}

ul#mediagrid li {
    width: 33.33%;
    list-style: none;
    padding:10px;
    overflow: hidden;
}

ul#mediagrid li a {
    position: relative;
    float: left;
    width: 100%;
}

ul#mediagrid li a img {
    width: 100%;
}
.center-media-image{
    display: flex;
    /* align-items: center; */
}

.media-size {
    width: 100%;
    padding: 0px;
	/* text-align:center; */
}

.media-size img,video,audio {
    max-width: 760px!important;
    max-height: 428px;
}
@media only screen and (max-width: 1200px)  {
  .jFiler-items-grid .jFiler-item {
      width: 25%;
  }
}
@media only screen and (max-width: 850px)  {
  .jFiler-items-grid .jFiler-item {
      width: 33.3333%;
  }
}
@media only screen and (max-width: 767px)  {
  .jFiler-items-grid .jFiler-item {
      width: 50%;
  }
}
@media only screen and (max-width: 380px)  {
  .jFiler-items-grid .jFiler-item {
      width: 100%;
  }
}
input.error {
   border-color: #f5707a !important;
}
label.error {
    color: red;
}
.req:after {
  content:'  *';
  color:red;
}